@import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css");



html {
  margin: 0;
  padding: 0;
  min-width: 1000px !important;
  min-height: 450px !important;

}

body {
  min-width: 1000px !important;
  min-height: 450px !important;
}

a {
  text-decoration-line: none;
  outline: none;
}

li {
  list-style-type: none;
}

.app-container {
  min-width: 1000px !important;
  min-height: 450px !important;
}

.mainheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #090c0a;
  z-index: 1;
}

.contents {
  display: flex;
  width: 96%;
  /* max-width: 1100px; */
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: end;

}

.contents li {
  margin-right: 10%;
  margin-top: 15px;
}

.contents a {
  color: white;
  font-size: large;
  font: bold;
}

.logo {
  position: absolute;
  top: 0;
}

.imgLogo {
  width: 40%;
  height: auto;
}

/* header Done */

/* Slide Start */
.train {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.show {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.compartment {
  width: 100%;
  height: 900px;
  /* 고정된 높이 대신 비율에 따라 조정 가능 */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.77);
}

button.prev-slide,
button.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
}

button.prev-slide {
  left: 10px;
}

button.next-slide {
  right: 10px;
}

.compartment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지 비율을 유지하며 부모 요소를 채우도록 설정 */
  object-position: center;
  /* 이미지의 중앙을 기준으로 채움 */
}

/* 슬라이드 인덱스 */
.slide-index {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: larger;
}

.index-item.active {
  color: white;
}



/* Introduce */
.introduce-container {
  display: flex;
  width: 100%;
  height: 800px;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 7, 7, 0.5);
}

.introduce-img {
  width: 40%;
  height: 650px;
  /* background-color: red; */
  margin-left: 3%;
}

.imgmy {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}

.introduce-img p {
  margin-left: 25%;
  font-family: "Goorm Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.introduce-text {
  width: 30%;
  height: max-content;
  /* background-color: white; */
  margin-right: 15%;
  border: 4px solid rgba(21, 14, 29, 0.596);
  padding: 20px;
  color: rgba(0, 0, 0, 1.0);
  font-family: "Goorm Sans", sans-serif;
  font-weight: 100;
  font-style: normal;

}

/* Product */
.project-container {
  width: 100%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.77);

}

.project-cardview {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  /* background-color: brown; */
}

#card-container {
  width: 400px;
  height: 500px;
  margin-left: 100px;
  margin-top: 50px;
}

#card-container img {
  max-width: 350px;
  max-height: 300px;
}

#card-containder h4,
span {
  font-family: "Goorm Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: wheat;
}