a {
  text-decoration-line: none;
  outline: none;
}

li {
  list-style-type: none;
}

.mainheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: #dde0ea;
}

.contents {
  display: flex;
  width: 96%;
  /* max-width: 1100px; */
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
}

.contents li {
  margin-right: 15%;
  margin-top: 15px;
}

.logo {
  position: absolute;
  top: 0;
}

.imgLogo {
  width: 50%;
  height: auto;
}

/* header Done */

/* Silde Start */
.train {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  /* margin: 0 auto; */
}

.show {
  width: 1100px;
  height: 600px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border: 2px green dotted;
  margin: 0 50px;
  /*보여줄 영역을 표시하기 위해 적용*/
}

.compartment {
  width: 1000px;
  height: 90%;
  flex-shrink: 0;
  /*이 구역안에 생기는 영역들이 공간을 분배하여 가지지 않도록 적용*/
  font-size: 40px;
  text-align: center;
  margin: 0 50px;
  /*보여줄 영역을 표시하기 위해 적용*/

}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.compartment:nth-child(1) {
  background-color: red;
}

.compartment:nth-child(2) {
  background-color: yellowgreen;
}

.compartment:nth-child(3) {
  background-color: blueviolet;
}

.compartment:nth-child(4) {
  background-color: orange;
}

.compartment:nth-child(5) {
  background-color: skyblue;
}

.slide-index {
  position: absolute;
  display: flex;
  gap: 8px;
  margin-top: 650px;
  cursor: pointer;
}

.index-item.active {
  color: blue;
}