a {
  text-decoration-line: none;
  outline: none;
}

li {
  list-style-type: none;
}

.mainheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: #dde0ea;
}

.contents {
  display: flex;
  width: 96%;
  /* max-width: 1100px; */
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
}

.contents li {
  margin-right: 15%;
  margin-top: 15px;
}

.logo {
  position: absolute;
  top: 0;
}

.imgLogo {
  width: 50%;
  height: auto;
}